@import "_fonts";
@import "_vars";

@media (max-width: 1200px) {
  .main-nav__item-expanded-container {
    width: 765px;
    padding: 15px;
  }

  .main-nav__item-expanded-item {
    width: 50%;
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    &:nth-child(-n+4) {
      border-top: 1px solid #d8d8d8;
    }
    &:first-child,
    &:nth-child(2) {
      border-top: none;
    }
    &:nth-child(2n),
    &:last-child {
      border-right: none;
    }
  }

  #dropdown1 {
    left: 3px;
  }

  #dropdown2 {
    left: -166px;
  }

  #dropdown3 {
    left: -310px;
  }

  #dropdown4 {
    left: -440px;
  }

  #dropdown5 {
    left: -588px;
  }

  .selects-container {;
    padding-left: 10px;
  }

  .selects-container select {
    padding-left: 20px;
    width: 150px;
  }
}

@media (max-width: 992px) {
  .main-nav__item {
    font-size: 14px;
  }

  .main-nav__item-expanded-container {
    width: 750px;
    padding: 15px;
  }

  .filter-container {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .global-header {
    min-height: 61px;
  }

  .global-header__firstline > .container > .row {
    position: relative;
  }

  .global-header__firstline > .container > .row > .in {
    display: block !important;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 82%;
    height: 53px;
    padding: 0;
    background: @main-yellow;
    z-index: 2;
    & > .search-input {
      height: 100%;
      line-height: 100%;
      & > .nav-search-form {
        height: inherit;
        line-height: inherit;
        & > .nav-search-form__input {
          height: inherit;
          line-height: inherit;
          padding: 10px 15px 10px 30px;
          font-size: 16px;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 10px;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            font-size: 10px;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            font-size: 10px;
          }
          &:-moz-placeholder { /* Firefox 18- */
            font-size: 10px;
          }
        }
        & > .nav-search-form__btn-search {
          border-left: 0;
          left: 0;
        }
      }
    }
  }

  .global-header__secondline {
    min-height: 1px;
  }

  .main-nav__item-expanded-container {
    display: none;
  }

  .main-nav__item:hover:before {
    display: none;
  }

}
@media (max-width: 339px) {
  .logo-box-container {
    width: 45%;
    padding-right: 0;
  }
}