@import "_fonts";
@import "_vars";


@media (max-width: 1200px) {
  .main-nav__item-expanded-container {
    width: 765px;
    padding: 15px;
  }

  .main-nav__item-expanded-item {
    width: 50%;
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    &:nth-child(-n+4) {
      border-top: 1px solid #d8d8d8;
    }
    &:first-child,
    &:nth-child(2) {
      border-top: none;
    }
    &:nth-child(2n),
    &:last-child {
      border-right: none;
    }
  }
  #dropdown1 {
    left: 3px;
  }
  #dropdown2 {
    left: -166px;
  }
  #dropdown3 {
    left: -310px;
  }
  #dropdown4 {
    left: -440px;
  }
  #dropdown5 {
    left: -588px;
  }
  .selects-container {;
    padding-left: 10px;
  }

  .selects-container select {
    padding-left: 20px;
    width: 150px;
  }
}
@media (max-width: 992px) {
  .main-nav__item {
    font-size: 14px;
  }
  .main-nav__item-expanded-container {
    width: 750px;
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .global-header__secondline {
    min-height: 1px;
  }
  .main-nav__item-expanded-container {
    display: none;
  }
  .main-nav__item:hover:before {
    display: none;
  }
}